<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:sts="http://cxf.apache.org/sts"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <bean id="stsProviderBean" class="org.apache.cxf.ws.security.sts.provider.SecurityTokenServiceProvider">
        <property name="issueOperation" ref="issueDelegate" />
    </bean>

    <bean id="issueDelegate" class="org.apache.cxf.sts.operation.TokenIssueOperation">
        <property name="tokenProviders">
            <list>
                <bean class="org.apache.cxf.sts.token.provider.SAMLTokenProvider" />
            </list>
        </property>
        <property name="stsProperties" ref="stsProperties" />
    </bean>

    <bean id="stsProperties" class="org.apache.cxf.sts.StaticSTSProperties">
        <property name="signatureCryptoProperties" value="stsstore.properties" />
        <property name="signatureUsername" value="stskey" />
        <property name="issuer" value="DigitalSlovenskoSTS" />
    </bean>

    <jaxws:endpoint id="stsEndpoint"
                    implementor="#stsProviderBean"
                    address="/STS"
                    bindingUri="http://www.w3.org/2003/05/soap/bindings/HTTP/">
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
                <constructor-arg>
                    <map>
                        <entry key="action" value="Signature" />
                        <entry key="signaturePropFile" value="stsstore.properties" />
                    </map>
                </constructor-arg>
            </bean>
        </jaxws:inInterceptors>
    </jaxws:endpoint>
</beans>
